<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Cadastro</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

</head>
<body>
</head>

<body>

		<h4 style="text-align: center; font-size: 25px; margin-top: 3%;">
			Grupo Tiradentes | Mundo Jix</h4>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/estudantes/inicio">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/estudantes/list">Cadastrados <span
						class="sr-only">(current)</span></a> <a class="nav-item nav-link"
						href="#">Meus dados</a> <a class="nav-item nav-link" href="#">Acadêmico</a>
					<a class="nav-item nav-link" href="">Pontos</a>
				</div>
			</div>
		</nav>
		<br>
		<h3 style="text-align:center;">Salvo com sucesso ! <br><br></h3>
		<h5 style="text-align:center;"> Dados em análise.</h5>

	</body>
	<script src="js.main.js"></script>
	

</html>