<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Produtos</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="path/to/font-awesome/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</head>

<body>
	<div class="container my-2">
		<h4>OPÇÕES</h4>
		<div class="card">
			<div class="card-body">
				<div th:switch="${estudantes}" class="container my-5">
					<p class="my-5">
						<a href="/estudantes/showform" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Add novo</i></a> <a
							href="/estudantes/inicio" style="margin-left: 2%;"
							class="btn btn-dark">Início</a>
					</p>
					<div class="col-md-15">
						<h3 th:case="NULL">Excluido!</h3>
						<div th:case="*">
							<table>
								<thead>
									<tr>
										<th>Id:</th>
										<th>Usuário:</th>
										<th>Documento:</th>
										<th>Atividade:</th>
										<th>Horas:</th>
										<th>Status:</th>

									</tr>
								</thead>
								</tbody>
								<tr th:each="estudante:  ${estudantes}">
									<td th:text="${estudante.id}"></td>
									<td th:text="${estudante.usuario}"></td>
									<td th:text="${estudante.nomeDocumento}"></td>
									<td th:text="${estudante.atividadeCertificado}"></td>
									<td th:text="${estudante.horas}">
									<td th:text="${estudante.status}">
									
									<td><a th:href="@{/estudantes/edit/{id}(id=${estudante.id})}"
										class="btn btn-primary">Editar<i
											class="fas fa-user-edit ml-2"></i></a></td>
									<td><a th:href="@{/estudantes/del/{id}(id=${estudante.id})}"
										class="btn btn-primary">Excluir<i
											class="fas fa-user-times ml-2"></i></a></td>
								</tr>
								<hr>
							</table>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>





</body>

</html>